.mainSection {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 5rem;
}
.imageSection > img {
  width: 400px;
  height: 300px;
}
.imageSection {
  width: 100%;
  margin-left: 10rem;
}
.infoSection {
  width: 100%;
  margin-top: -120px;
}
.heading {
  color: rgb(114, 134, 211);
  font-size: 2.5em;
  font-weight: 800;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}
