.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  box-shadow: 0 0 10px rgb(114, 134, 211);
}
.navLogo > img {
  width: 100px;
  height: 50px;
  margin-left: 10px;
}
.info > ul > li {
  display: inline;
  margin-left: 20px;
  cursor: pointer;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.1em;
}
.info > ul > li:hover {
  color:rgb(114, 134, 211)  ;
}
